.header-bar {
  background-color: #2f5fa7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-login-link {
  color: white;
  text-decoration: none;
  padding-right: 1.8rem;

}

.header-logo-img {
  width: 35%;
  padding-top: 0.7rem;
  padding-bottom: -1rem;
  padding-left: -2rem;
}

.nav-link.text-primary {
  color: #0d6efd !important; /* Cor azul do Bootstrap */
}
.nav-link.text-primary:hover {
  background-color: #0d6efd !important; /* Fundo azul no hover */
  color: white !important; /* Texto branco no hover */
}
.nav-link.active {
  background-color: #0d6efd !important; /* Mantém fundo azul para item ativo */
  color: white !important; /* Mantém texto branco para item ativo */
}
